{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav class="bg-white shadow-lg">
            <div class="max-w-10xl mx-auto px-20">
                <div class="flex justify-between">
                    <div class="flex space-7">
                        <div>
                            <a href="#" class="flex px-10 py-4">
                                <img class="h-8 w-8" src="{% static 'myapp/images/logo.png' %}" alt="">
                                <span class="text-gray-500 font-semibold text-lg">QuickCart</span>
                            </a>
                        </div>
                        <div class="items-center flex space-x-3">
                            <a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-red-500">Home</a>
                            <a href="{% url 'myapp:add_product' %}" class="py-4 px-2 text-gray-500 font-semibold">Post</a>
                            <a href="{% url 'myapp:products' %}" class="py-4 px-2 text-gray-500 font-semibold">View</a>                            
                            {% if user.is_authenticated %}
                            <a href="{% url 'users:profile' %}" class="py-4 px-2 text-gray-500 font-semibold">Profile</a>
                            <a href="{% url 'users:logout' %}" class="py-4 px-40 text-gray-500 font-semibold">Logout</a>    
                            {% else %}
                                <a href="{% url 'users:login' %}" class="py-4 px-40 text-gray-500 font-semibold">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>