{% extends 'myapp/base.html' %}
{% block body %}
    <h1 class="text-2xl m-10 font-bold">Delete Product</h1>
    <form method="POST" class="bg-gray shadow-md m-10 w-3/5 rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-3xl font-bold mb-2">Are you sure to delete this product?</label>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-lg font-bold mb-2">{{product.name}}</label>
        </div>
        <div class="mb-4">
            <img src="{{product.image.url}}" alt="">
        </div>
        <input class="bg-red-500 text-white px-5 py-2" type="submit" name="confirm" value="confirm">
        <a class="button bg-green-500 text-white px-6 py-2.5" href="{% url 'myapp:products' %}">Cancel</a>
    
    </form>
{% endblock %}